@model PaginationSet<Identity.IdentityUser>

User Info
<table class="table">
    <tr>
        <th>
            <label>UserName</label>
        </th>
        <th>
            <label>Email</label>
        </th>
        <th>
            <label>Roles</label>
        </th>
        <th>
            <label>Email Confirmed</label>
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)

            </td>
            <td>
                @foreach (var role in item.Roles)
                {
                    @Html.DisplayFor(modelItem => role.Name)
                    <br />

                }

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)

            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Change Password", "ChangePassword", new { id = item.Id })
            </td>
        </tr>
    }

</table>



<ul class="pagination" role="navigation" aria-label="Pagination">
    <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
    <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
    <li><a href="#" aria-label="Page 2">2</a></li>
    <li><a href="#" aria-label="Page 3">3</a></li>
    <li><a href="#" aria-label="Page 4">4</a></li>
    <li class="ellipsis" aria-hidden="true"></li>
    <li><a href="#" aria-label="Page 12">12</a></li>
    <li><a href="#" aria-label="Page 13">13</a></li>
    <li class="pagination-next"><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
</ul>