@*@model List<WebApplication.Models.UserViewModel>*@

@model List<Identity.IdentityUser>

@{
    ViewData["Title"] = "Users";
}


<form asp-controller="Users" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="searchString">
        <input type="submit" value="Search" />
    </p>
</form>



<p><a asp-action="Create">Create New</a></p>
<p>
    <span>Total Users: @Model.Count</span>
</p>
<br/>

<table class="table">
    <tr>
        <th>
            <label>UserName</label>
        </th>
        <th>
            <label>Email</label>
        </th>
        <th>
            <label>Roles</label>
        </th>
        <th>
            <label>Email Confirmed</label>
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)

            </td>
            <td>
                @foreach (var role in item.Roles)
                {
                    @Html.DisplayFor(modelItem => role.Name)
                <br/>

                }

            </td>
  
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)

            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Change Password", "ChangePassword", new { id = item.Id })
            </td>
        </tr>
    }

</table>
