@model List<WebApplication.Data.MessageTemplate>

@{
    ViewData["Title"] = "Message Template";
}




<div class="panel">
    <div class="panel-heading">
        <span>Message Template</span>
        <span class="pull-right">
            <a asp-action="Create">Create New</a>
        </span>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb0">
                <thead>
                    <tr>
                        <th> MessageTemplateTypeID</th>
                        <th>Subject</th>
                        <th>Body</th>
                        <th>Mail From</th> 
                        <th>Added on</th>
                        <th>Is Active</th>
                        
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-center">
                            <td>@Html.DisplayFor(modelItem => item.MessageTemplateTypeID)</td>
                            <td>@Html.DisplayFor(modelItem => item.Subject)</td>
                            <td>@Html.Raw(item.Body)</td>

                            <td>@Html.DisplayFor(modelItem => item.MailFrom)</td>
                            <td>@Html.DisplayFor(modelItem => item.AddedOn)</td>
                            
                            <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                            
                            <td>
                                <a asp-action="Edit" asp-route-id="@item._id" data-toggle=tooltip data-placement=top title="Edit"><i class="fa fa-edit"></i></a>
                                &nbsp;
                                <a asp-action="Details" asp-route-id="@item._id" data-toggle=tooltip data-placement=top title="Details"><i class="fa fa-eye"></i></a>
                                &nbsp;
                                <a asp-action="Delete" asp-route-id="@item._id" data-toggle=tooltip data-placement=top title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Breadcrumbs {
    <ol class="breadcrumb">
        <li>
            <a asp-controller="Dashboard" asp-action="Index">Home</a>
        </li>
       
        <li class="active">
            <a href="javascript:;">Mesaage Template</a>
        </li>
    </ol>
}