@model WebApplication.Models.UserSearchViewModel

<form asp-controller="Users" asp-action="Search" method="get">
    <p>
        <select asp-for="selectList" asp-items="Model.selectList">
            <option value="">All</option>
        </select>

        User Name: <input type="text" name="searchString">
        <input type="submit" value="Search" />
    </p>
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Users[0].UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users[0].Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users[0].Roles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users[0].EmailConfirmed)
        </th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Breadcrumbs {
    <ol class="breadcrumb">
        <li>
            <a asp-controller="Dashboard" asp-action="Index">Home</a>
        </li>
        <li>
            <a asp-controller="Users" asp-action="Index">Users</a>
        </li>
        <li class="active">
            <a href="javascript:;">Search</a>
        </li>
    </ol>
}